#contact-form-239
  h3
    font-size 1.75rem
    text-align center
    color $main
  p
    font-size 1.3rem
    border-bottom 2px solid $main_yellow
    padding-top 25px
  a
    color $main
    text-decoration underline
    cursor pointer
    &:hover
      text-decoration none
      color $main_yellow