.absolute-r
	position absolute
	right 30px
.is-active
	.animate-pulse
		animation unset
	#main_nav
		visibility: visible;
		opacity: 1;
		overflow inherit
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
		#main_menu
			overflow hidden
			padding 20px
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
#lang_choice_1
	background: white
	border: 1px solid $main_button_alt
	box-sizing: border-box
	border-radius: 4px
	text-transform: uppercase
	padding: 8px
	font-size: 12px
	padding-top: 0.5rem
	padding-bottom: 0.5rem
	font-weight: 800
	color: $main_button_alt
	outline none
	margin-left: 1.25rem