img, video
	border: 0 !important;
	border-style: none !important;
	outline: none !important;
.absolute-r
	position absolute
	right 30px
.is-active
	.overflow-vs
		overflow visible
	.animate-pulse
		animation unset
	#main_nav
		visibility: visible;
		opacity: 1;
		overflow inherit
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
		#main_menu
			overflow hidden
			padding 20px
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
#lang_choice_1
	background: #fff
	text-transform: uppercase
	font-size: 1.125rem
	font-weight: 700
	color: $main_blue
	outline: none
	text-align center
	transition: color 0.15s, transform 0.15s, background-color 0.15s
	overflow: hidden
	box-shadow: none
	width 50px
	@media (max-width 560px)
		width 60px
	&:active
		transform: translateY(2px)
	&:hover
		cursor pointer
		color: $main_yellow