img, video
	border: 0 !important;
	border-style: none !important;
	outline: none !important;
.absolute-r
	position absolute
	right 30px
.is-active
	.overflow-vs
		overflow visible
	.animate-pulse
		animation unset
	#main_nav
		visibility: visible;
		opacity: 1;
		overflow inherit
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
		#main_menu
			overflow hidden
			padding 20px
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
#lang_choice_1
	background: #fff
	border: 1px solid #0854a0
	box-sizing: border-box
	border-radius: 4px
	text-transform: uppercase
	-webkit-appearance: none
	font-size: 12px
	font-weight: 800
	color: #0854a0
	outline: none
	margin-left: 1.25rem
	height: 36px
	line-height: 34px
	text-align center
	padding-left 10px
	padding-right 10px
	transition: color 0.5s, transform 0.2s, background-color 0.2s
	overflow: hidden
	box-shadow: none
	width 60px
	@media (max-width $md)
		width 44px
	&:active
		transform: translateY(3px)
	&:hover
		cursor pointer
		color: $main_yellow
		background $main